name: CI

on:
  pull_request:
    paths-ignore: ['README.md']
    types: [opened, ready_for_review, reopened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-slim
    if: github.event.pull_request.draft == false
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        with:
          version: 10.19.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: 24.10.0
          cache: pnpm
      - run: |
          pnpm install
          pnpm renovate-config-validator --strict $(find . -maxdepth 1 -name "*.json" -not -name "package.json")
